@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Roboto+Slab:wght@300;400;500;700&display=swap");

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border-top: 0.125rem solid #e8e8e8;
  padding-top: 1.813rem;
}

.form-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: #888;
  margin: 0;
}

.form-flex {
  display: flex;
  margin-top: 20px;
  gap: 32px;
}

.form-input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

.form-flex input {
  width: 50%;
}

.form-flex select {
  width: 30%;
}

.form-button {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}
