.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border-top: 0.7px solid rgba(151, 150, 150, 0.448);
  padding: 8px 0;
  width: 85%;
  margin: 15px auto;
}

.form-title {
  color: grey;
}

.form-grid {
  display: grid;
  grid-template-columns: 685px 300px 200px;
  gap: 20px;
}

.form-input {
  padding: 10px;
  border: 0.7px solid rgba(151, 150, 150, 0.448);
  font-size: 12px;
}

.form-button {
  color: white;
  background-color: rgb(66, 180, 255);
  padding: 10px 18px;
  border-radius: 4px;
  border: none;
}
