@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Roboto+Slab:wght@300;400;500;700&display=swap");

.list-container {
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 2rem;
  margin-bottom: 0.938rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}

.book-main {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.book-id,
.hidden-p {
  visibility: hidden;
}

.book-category {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
  font-weight: 700;
  color: #121212;
  text-decoration: none;
}

.book-title {
  font-family: "Roboto Slab", serif;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  font-weight: 700;
  color: #121212;
  text-decoration: none;
}

.book-author {
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  text-decoration: none;
}

.book-additional {
  display: flex;
  align-items: center;
  font-family: "Roboto Slab", serif;
  background-color: transparent;
  border: none;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  cursor: pointer;
  gap: 6px;
  margin-top: 1.313rem;
  padding: 0;
}

.book-additional li {
  text-decoration: none;
  list-style: none;
}

.remove-book {
  padding: 2px 10px;
  border-right: 0.7px solid rgba(151, 150, 150, 0.448);
  border-left: 0.7px solid rgba(151, 150, 150, 0.448);
}

.remove-book button {
  background: none;
  border: none;
  color: #4386bf;
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: 300;
  cursor: pointer;
  gap: 6px;
  padding: 0;
}

.progress-container {
  display: flex;
  align-items: center;
}

.img {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 0.7px solid rgba(151, 150, 150, 0.448);
  padding-right: 4.938rem;
}

.number {
  font-family: "Montserrat", sans-serif;
  color: #121212;
  font-size: 2rem;
  margin: 0;
}

.completed {
  font-family: "Montserrat", sans-serif;
  color: #121212;
  font-size: 0.875rem;
  opacity: 0.5;
  margin: 0;
}

.chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3.688rem;
}

.current-chapter {
  font-size: 0.813rem;
  opacity: 0.5;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #121212;
  margin: 0;
}

.chapter-display {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #121212;
  margin-top: 0.438rem;
  font-size: 1rem;
  letter-spacing: -0.4px;
}

.list-button {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}
