@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Roboto+Slab:wght@300;400;500;700&display=swap");

.navbar {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-tabs {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-tabs li {
  list-style: none;
}

.Bookstore-CMS {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
  cursor: pointer;
}

.navbar-books {
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.navbar-categories {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
  text-decoration: none;
}

.faUser {
  color: #0290ff;
  margin-top: 30%;
  margin-left: 35%;
}

.signin {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: solid 1px #e8e8e8;
  background-color: white;
}
